.App {
  text-align: center;
  min-height: 100vh;
}

.background-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/19/Lego_bricks.jpg");
  min-height: 100vh;
}

.over-background {
  color: white;
  text-shadow: 2.5px 2.5px black
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  align-content: space-around
}

.flex-center {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.card-deck-set-card {
  width: 18rem;
  color: black;
}

.card-deck-part-card {
  width: 12rem;
  color: black;
}

.set-show-card {
  width: 80%;
}

.shaded-background {
  background-color: rgba(0,0,0,0.7);
}

.cyan-text {
  color: cyan;
}

.narrow-container {
  width: 80%
}